*{
    color: #3d5a80; /*rgb(61,90,128)*/
    color: 
    ; /*rgb(152,193,217)*/
    color: #e0fbfc; /*rgb(224,251,252)*/
    color: #ee6c4d; /*rgb(238,108,77)*/
    color: #293241; /*rgb(41,50,65)*/
}